layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="toolbox_under" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                children
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane name="build"
                    pane name="publish"
                    pane name="test"
                }
            }
        }
    }
    tab name="dashboard" {
      pane split_direction="vertical" {
            pane name="lazygit (textlib)" command="lazygit" {
                start_suspended true
                close_on_exit true
            }
            pane size="40%" name="editors" stacked=true {
                pane command="hx" {
                    args ".gitignore"
                }
                pane command="hx" {
                    args ".git/info/exclude"
                }
                pane command="hx" {
                    args "gitconfig"
                }
            }
        }
        pane size="20%" split_direction="vertical" {
            pane name="git terminal"
        }
    }
    tab name="workspace" {
        toolbox_under {
            pane command="hx" {
                start_suspended false
                close_on_exit false
            }
        }
    }
}
