layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="toolbox_under" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                children
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="zig" {
                        args "build"
                    }
                    pane command="zig" {
                        args "build test"
                    }
                }
            }
        }
    }
    tab name="dashboard" {
        pane split_direction="vertical" {
            pane stacked=true {
                pane name="lazygit (textlib)" command="lazygit" {
                    cwd "lib"
                    start_suspended true
                    close_on_exit true
                }
                pane name="lazygit (backend)" command="lazygit" {
                    cwd "backend"
                    start_suspended true
                    close_on_exit true
                }
            }
            pane size="40%" name="editors" stacked=true {
                pane edit=".gitignore"
                pane edit=".git/info/exclude"
                pane edit="gitconfig" {
                    cwd "${DOTFILES_DIR:-$HOME/Repos/dotfiles}/git"
                }
            }
        }
        pane size="20%" split_direction="vertical" {
            pane name="git terminal"
        }
    }
    tab name="textlab (textlib)" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                pane edit="." {
                    cwd "lib/"
                }
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="zig" {
                        args "build"
                        cwd "lib/"
                    }
                    pane command="zig" {
                        args "build test"
                        cwd "lib/"
                    }
                }
            }
        }
    }
    tab name="textlab (backend)" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                pane edit="." {
                    cwd "backend/"
                }
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="zig" {
                        args "build"
                        cwd "backend/"
                    }
                    pane command="zig" {
                        args "build test"
                        cwd "backend/"
                    }
                }
            }
        }
    }
}
