layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="zig_toolbox_under" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                children
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="zig" {
                        args "build" "--summary" "all"
                        cwd "./server"
                    }
                    pane command="zig" {
                        args "build" "test" "--summary" "all"
                        cwd "./server"
                    }
                }
            }
        }
    }
    tab name="dashboard" {
        pane split_direction="vertical" {
            pane stacked=true {
                pane name="lazygit (textlib)" command="lazygit" {
                    cwd "./server"
                    start_suspended true
                    close_on_exit true
                }
                pane name="lazygit (backend)" command="lazygit" {
                    cwd "./frontend"
                    start_suspended true
                    close_on_exit true
                }
            }
            pane size="40%" name="editors" stacked=true {
                pane command="hx" {
                    args ".gitignore"
                    cwd "./server"
                    start_suspended true
                    close_on_exit true
                }
                pane command="hx" {
                    args ".gitignore"
                    cwd "./frontend"
                    start_suspended true
                    close_on_exit true
                }
            }
        }
        pane size="20%" split_direction="vertical" {
            pane name="git terminal"
        }
    }
    tab name="zig server" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                pane command="hx" {
                    cwd "./server"
                    start_suspended true
                    close_on_exit true
                }
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="zig" {
                        args "build" "--summary" "all"
                        cwd "./server"
                        start_suspended true
                        close_on_exit true
                    }
                    pane command="zig" {
                        args "build" "test" "--summary" "all"
                        cwd "./server"
                        start_suspended true
                        close_on_exit true
                    }
                }
            }
        }
    }
    tab name="frontend" {
        pane split_direction="horizontal" {
            pane size="70%" split_direction="vertical" {
                pane command="hx" {
                    cwd "./frontend"
                    start_suspended true
                    close_on_exit true
                }
            }
            pane name="toolbox" split_direction="vertical" {
                pane name="terminal"
                pane stacked=true {
                    pane command="npm" {
                        args "run" "test"
                        cwd "./frontend"
                        start_suspended true
                        close_on_exit true
                    }
                    pane command="npm" {
                        args "build"
                        cwd "./frontend"
                        start_suspended true
                        close_on_exit true
                    }
                    pane command="npm" {
                        args "run"
                        cwd "./frontend"
                        start_suspended true
                        close_on_exit true
                    }
                }
            }
        }
    }
}
