layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="dashboard" {
        pane name="htop" {
            command "htop"
            start_suspended true
        }
    }
    tab name="workspace" {
        pane split_direction="vertical" {
            pane name="editor" edit="." focus=true
        }
        pane size=16 split_direction="vertical" {
            pane name="terminal 1"
            pane name="terminal 2" size="25%"
        }
    }
}
